{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_userattend/attendance_report

    TODO describe template attendancereport

    Example context (json):
    {
    }
}}
<div class="container my-5 ">
    <div class="row" id="ao-accordion">
        <div class="col-xl-12">
            <div role="tablist" id="ao-quarters-accordion">
             {{! Quarters }}
             {{> report_userattend/report/quarters}}
            </div>

            {{! Divider. }}
            <div class="dropdown-divider my-5"></div>
        </div>

        {{! Cumulative }}
        {{> report_userattend/report/cumulative}}
    </div>
</div>