{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_userattend/report/tableheader

    Quarter table header for attendance report.

    Example context (json):
    {
        "str": {
            "report_heading_course": "Course",
            "report_heading_present": "Present",
            "report_heading_absent": "Absent",
            "report_heading_late": "Late",
            "report_heading_g": "Grade",
            "report_heading_lastsession": "Last Session"
        }
    }
}}

<thead>
    <tr>
        <th>
            {{#str}} report_heading_course, report_userattend {{/str}}
        </th>
        <th class="text-center">
            {{#str}} report_heading_present, report_userattend {{/str}}
        </th>
        <th class="text-center">
            {{#str}} report_heading_absent, report_userattend {{/str}}
        </th>
        <th class="text-center">
            {{#str}} report_heading_late, report_userattend {{/str}}
        </th>
        <th class="text-center">
            {{#str}} report_heading_grade, report_userattend {{/str}}
        </th>
        <th class="text-center">
            {{#str}} report_heading_lastsession, report_userattend {{/str}}
        </th>
    </tr>
</thead>
